*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

    
  }
  html{
    scroll-behavior: smooth;
  }

  body {
    overflow-x:hidden;  
  }

  /* Style the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #81c1f9;
  border-radius: 5px;
}

/* Change thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #0069c4;
}
 
  nav{
    display: flex;
    /* justify-content: space-between; */
    background-color: rgba(255, 248, 228, 0);
    /* align-items: stretch; */

    /* position: absolute; */
    position:fixed;
    z-index:0;
    
    
  }
  .logo{
    width: 10.75rem;
    height: 2.5rem;
    margin-top: 1.5rem;
    margin-left: 3.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    cursor: pointer;
  }
  .nav-tabs{
    margin-top:0.5rem;
    font-size: larger;
    position: relative;
    left: 28rem;
    
  }

  .nav-tabs li :hover{
    color: #003461;
    
    
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:38rem;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #0069c4;
  }
  
  nav ul li:hover > .dropdown-menu {
    display: block;
   
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #0069c4;
    padding: 10px;
    width: auto;
    border-radius: 16px;
  }
  
  .dropdown-menu li {
    display: block;
    
  }
  
  .dropdown-menu li a {
   
    padding: 5px 10px;
    color: #f2f7fb;
    text-decoration: none;
  }
  
  .dropdown-menu li a:hover {
    /* background-color: #0069c4; */
    border-radius: 8px;
    color: #294072;
    
  }
  #banner{
    width: 1280px;
    height: 617px;

    display: flex;
    justify-content: space-between;
 
   
  }
  #banner-slogan strong{
    line-height: 4.063rem;
    
  }

   
  
  #banner-photo{
   
    width: 1280px;
    height: 690px;
   
   
    position: fixed;
    z-index:-1;
    /* background-repeat: no-repeat; */
    
    
    
    
  }

  #banner-slogan{
    position: absolute;
    width: 28rem;
    font-size: xxx-large;
    padding-top: 8rem;
    padding-left: 5rem;

    position:fixed;
    z-index:0;
    
    
  }
   
  #learn-more{
    width: 9rem;
    height: 3rem;
    cursor: pointer;
    font-size: large;
    background-color: rgb(0 105 196);
    color: rgb(242 247 251);
    border-radius: 0.3rem;
    border: none;
    box-shadow:  1px 1px 15px 0.9px #a1b2ca;
    
  }
  #learn-more:hover{
    background-color: rgb(142, 202, 252);
    color: rgb(0 105 196);
  }

  
  #our-services{
    background-color: rgb(219, 240, 253);
    width: 1280px;
    height: 55rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    position:relative;
    
    
   
    
   
  }
  #our-services h1{
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
  #service-grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    row-gap:5rem;
    place-items: center; 
  }
  .services{
    width: 18rem;
    height: 20rem;
    background-color: rgb(252, 252, 252);
    /* background-color: rgb(0 105 196); */
    
    border-radius: 1rem;
    text-align: center;
    box-shadow:  1px 1px 15px 0.9px #cadae7;
    cursor: pointer;

  }
  .services:hover{
    background-color: rgb(134 184 229);
    

  }

  .services-photo{

    width:16rem;
    height:15.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
  }
  .services-headline{
    font-size:x-large;
    cursor: pointer;
    /* color:rgb(242 247 251); */
  
  }
  #our-sector-coverage{

    background-color: rgb(134 184 229);
    width: 1280PX;
    height: 166.4rem;
    position: relative;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    
   
    
  }
  #our-sector-coverage h1{
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 50px;
    
  }
  .sectors{
    background-color: rgb(134 184 229);
    /* background-color: yellow; */
    width: 1280PX;
    height: 20rem;
    

    display: flex;
    justify-content: space-between;

    margin-bottom: 114px;

   
  }
  .sectors .photo{
    background-color: rgb(133, 226, 126);
    width: 39.2rem;
    height: 20rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

  .sectors .photo-right{
    background-color: rgb(133, 226, 126);
    width: 39.2rem;
    height: 20rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
  
  }

  .sector-photos{
    
    width: 39.2rem;
    height: 20rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

  .sector-photos-right{
    
    width: 39.2rem;
    height: 20rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
  }
  .content{
    background-color: rgb(134 184 229);
    width: 39.2rem;
    text-align: center;
  }
  .content p{
    line-height: 1.5rem;
    letter-spacing: 1px;
  }
  .sectors .content h2{
    margin-top: 25px;
    margin-bottom: 20px
  }
  #sector-learn-more{
    width: 7rem;
    height: 3rem;
    cursor: pointer;
    margin-top: 34px;
    font-size:large;
    background-color: rgb(0 105 196);
    color: rgb(242 247 251);
    border-radius: 0.3rem;
    border: 2px solid rgb(0 105 196);
    box-shadow: 1px 1px 15px 0.9px #a1b2ca;
    
  }
  #sector-learn-more:hover{
    

    background-color: rgb(242 247 253 / 0%);
    color: rgb(0 105 196);
  }


  

  .footer-logo{
    width:8.75rem;
    height:2.5rem;

    margin-top: 0.5rem;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
  }
  

 .footer{
    background-color: #0069c4;
    width: 1280px;;
    height: 17rem;
    color: #f2f7fb;
    padding-top: 28px;
    

    display: flex;
    justify-content:space-around;
    position: relative;
   


 }


.svg-address{
  margin-top: 3px;
  width: 20px;
  height: 20px;
}
.svg-phone{
  
  width: 20px;
  height: 20px;
}
.svg-email{
  
  width: 20px;
  height: 20px;
}

.address{
  display: flex;
  gap: 10px;
}
 
.phone-call{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.email{
  display: flex;
  gap: 10px;
  margin-top: 9px;
}
  
.quick-links{
  margin-top: 16px;
  line-height: 2rem;
  list-style-type: none;
  font-size: large;
 }

 

 .quick-links :hover{
  color: #003461;
  cursor: pointer;
  padding-left: 5px;
  transition: 350ms ease;

  /* font-size:larger;
  border-bottom: 2px solid #f2f7fb; */
}
.footer-services-box{
  position: relative;
    right: 4rem;
    width: 200px  ;
}

.footer-services{
  margin-top: 16px;
  line-height: 2rem;
  list-style-type: none;
  font-size: large;
 }

 

 .footer-services :hover{
  color: #003461;
  cursor: pointer;
  padding-left: 5px;
  transition: 350ms ease;

  /* font-size:larger;
  border-bottom: 2px solid #f2f7fb; */
}


 